#cabecalho-principal {
    background-color: #0b3454;
    color: white;
    padding: 20px;
}
body{
    background-color: rgb(220, 220, 220);
}
h1{
    font-family: 'Dosis', Courier, monospace;
    color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    font-family: 'Dosis', Courier, monospace;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
h3{
    text-align: center;
}
section{
    background-color: #9ac2e1;
}
table{
    border: 1px solid black;
    padding: 1px;
    background-color: rgb(0, 0, 0);
}
th{
    border: 1px solid black;
    background-color: rgb(186, 197, 215);
    padding: 15px;
}
td{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 7px;
}
a:link{
    color: rgb(58, 83, 174);
    text-decoration: none;
}

a:visited{
    color: khaki;
}
a:hover{
    color: rgb(253, 255, 152);
}
a:active{
    color: rgb(0, 30, 85);
}